li {
  /* margin: 5px; */
  padding: 5px;
  list-style: none;
}

li span {
  display: block;
}

li span:last-child {
  color: grey;
  font-size: 0.9rem;
}
#username,
#email {
  display: block;
}

#email {
  color: grey;
}
