.drag-area {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1rem 0 5rem;
  border: 1px solid #bdbdbd;
  box-shadow: 5px 5px 10px #888888;
  background-color: #fbfbfb;
  text-align: center;
}

.drag-area > :last-child {
  border-bottom: 1px solid #bdbdbd;
}
